# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# CSV logs or output
mood_history.csv
